.dashboard {
  height: 100vh;
  background-color: #11151c;
}

.data-row {
  height: calc(100vh - 20rem);
  padding-bottom: 1rem;
}

.control-row {

}

.menu-bar {
  background-color: #212d40;
  border-radius: 6px;
}

.data-grid {
  background-color: #212d40;
  border-radius: 6px;
}

.timeline {
  background-color: #212d40;
  border-radius: 6px;
}

.tl-control {
  background-color: #212d40;
  border-radius: 6px;
}